   <body>
      <%= render 'home/nav' %>
      <br><br> <br><br> <br><br>
   <div class="container">
  <h2></h2>
  <p> </p>
    <div class="row">

      <div class='col-md-12'>
    
<%= form_with model: @session,local: true do |form| %>
          <p class="h4 mb-4">Update Session</p>

          <!-- Name -->
          <%= form.text_field :title, class: "form-control mb-4" , placeholder: "Title" %>
          <div class="form-group">
              <%= form.text_area :description ,:disabled => true, class:"form-control rounded-0" , placeholder: "Description of the disease", rows: "3" %>
          </div>
            <div class="form-group">
         <%= form.date_select :date, :class => 'form-control mb-4' %>
         

</div>
          <!-- Subject -->
          

          <div class="form-group">
              <%= form.text_area :Response , class:"form-control rounded-0" , placeholder: "Your Response", rows: "3" %>
            </div>
         
         

          <!-- Send button -->
          <%= form.submit  class:"btn btn-info btn-block" %>
       
      <% end %>
    


    
    </div>
    </div>





   </body>

   

 
 
