 <%= current_user.is_role.inspect if user_signed_in? %>
  <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                        
                                    <%= link_to('home', home_index_path, class: 'nav-link') %>
                                </li>
                                
                                <%# <li class="nav-item">
                                    <%= link_to('Patient', patients_path, class: 'nav-link') %>
                                <%# </li> %> 
                                 <% if user_signed_in? == true %>
                                 <li class="nav-item">
                                    <%= link_to('Dahshboard', sessions_path, class: 'nav-link') %>
                                </li>
                                  <li class="nav-item">
                                    <%= link_to('Edit Profile', edit_user_registration_path, class: 'nav-link') %>
                                </li>
                                <% end %> 
                                 <% if user_signed_in? == false %>

                                <li>
                                     <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
                                    
                                </li>
                               
                                <li class="nav-item">
                                    
                                    <%= link_to('Sign Up', new_user_registration_path, class: 'nav-link') %>
                                </li>
                              <% end %> 
                     <% if user_signed_in? == true %>
                                <li class="nav-item">
                                   <%= link_to('Logout', destroy_user_session_path, method: :delete , class: 'nav-link') %>
                                </li>
                                 <% end %> 
                            </ul>
                        </div>
                        <a class="btn_2 d-none d-lg-block" href="#"><%= current_user.fullname if user_signed_in? %></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> 