<%= form_with model: @doctor,local: true do |form| %>
Full name:<%= form.text_field :full_name %>
<p>
Phone number: 
<%= form.text_field :number %>
</p>
<p>
specialization: 
<%= form.text_field :specialization %>
</p>
<%= form.submit%>

<% end %>